$ cat .gitattributes
*/bootstrap-switch.css linguist-vendored
*/bootstrap-theme.css linguist-vendored
*/bootstrap-theme.min.css linguist-vendored
*/bootstrap.css linguist-vendored
*/bootstrap.min.css linguist-vendored
*/weather-icons-wind.css linguist-vendored
*/weather-icons-wind.min.css linguist-vendored
*/weather-icons.css linguist-vendored
*/weather-icons.min.csss linguist-vendored
*/bootstrap-switch.js linguist-vendored
*/bootstrap.js linguist-vendored
*/bootstrap.min.js linguist-vendored
*/jquery.js linguist-vendored
*/resources/static/fonts/* linguist-vendored
