$ cat .gitattributes
bootstrap-switch.css linguist-vendored
bootstrap-theme.css linguist-vendored
bootstrap-theme.min.css linguist-vendored
bootstrap.css linguist-vendored
bootstrap.min.css linguist-vendored
jarvis.service_page.weather.weather-icons-wind.css linguist-vendored
jarvis.service_page.weather.weather-icons-wind.min.css linguist-vendored
jarvis.service_page.weather.weather-icons.css linguist-vendored
jarvis.service_page.weather.weather-icons.min.csss linguist-vendored
bootstrap-switch.js linguist-vendored
bootstrap.js linguist-vendored
bootstrap.min.js linguist-vendored
jquery.js linguist-vendored
src/resources/static/fonts/* linguist-vendored
