$ cat .gitattributes
src/resources/static/css/bootstrap-switch.css linguist-vendored=false
src/resources/static/css/bootstrap-theme.css linguist-vendored=false
src/resources/static/css/bootstrap-theme.min.css linguist-vendored=false
src/resources/static/css/bootstrap.css linguist-vendored=false
src/resources/static/css/bootstrap.min.css linguist-vendored=false
src/resources/static/css/weather-icons-wind.css linguist-vendored=false
src/resources/static/css/weather-icons-wind.min.css linguist-vendored=false
src/resources/static/css/weather-icons.css linguist-vendored=false
src/resources/static/css/weather-icons.min.csss linguist-vendored=false
src/resources/static/fonts/* linguist-vendored=false
src/resources/static/js/bootstrap-switch.js linguist-vendored=false
src/resources/static/js/bootstrap.js linguist-vendored=false
src/resources/static/js/bootstrap.min.js linguist-vendored=false
src/resources/static/js/jquery.js linguist-vendored=false
