.header_day {
    font-size: 30px;
    font-weight: bold;
}
.header_date {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
}

.item_day_cell {
    padding: 10px;
}
.item_day{
    padding: 25px;
}

.weather_detail_div {
    display: inline-block;
}

.temp_div {
    display: inline-flex;
}

.weather_type {
    width: 100px;
}

.weather_type_glyph_dy {
    padding: 20px 0px 20px 20px;
    font-size: 80px;
}

.weather_backcircle {
    display: inline-block;
    text-align: center;
}

.weather_glyph {
    margin-right: 10px;
}

.align_left {text-align: left;}
.align_right {text-align: right;}

.weather_detail {
    font-size: 20;
}

.weather_detail_large {
    font-size: 80;
}

.weather_detail_small {
    font-size: 12;
}

p.temp_unit_day {
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: 100;
}

p.temp_unit_hour {
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 0px;
}

.daynight {
    border-right: none;
    border-top: none;
    border-bottom: none;
    padding-left: 10px;
    margin-bottom: 10px;
}

.daytime {
    border-left: 5px solid #70b1e2;
}
.nighttime {
    border-left: 5px solid #062845;
}


.hourly {
    margin-top: 10px;
    display: flex;
}
.hourly_item {
    display: block;
    text-align: center;
    width: 12.5%;
}
.weather_type_glyph_hr {
    padding: 10px 0px 10px 0px;
    font-size: 20px;
}
.time_header {
    font-size: 16px;
    font-weight: 400;
}

.weather_type_glyph_sun {
    padding: 10px 0px 0px 0px;
    font-size: 20px;
}


@media (max-width: 576px) {} /*xs*/
@media (max-width: 768px) {} /*sm*/
@media (max-width: 992px) {} /*md*/
@media (max-width: 1200px) {} /*lg*/
/*xl*/