html {
    font-family: Roboto;
}
body {
    font-family: Roboto;
}

.row-header {margin-bottom: 10px;}



/* TV guide table border */

.tbl_border {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.tbl_border_last {
    border-bottom: 1px solid #ddd;
}