
#page-content-wrapper {
    padding: 20px 70px;
}

/* Sidebar spans */

.sidebar_lhs {
    z-index: 8;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 50px;
    height: 100%;
    overflow-y: auto;
    padding: 0px;
}

.sidebar_rhs {
    z-index: 8;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
}

.sidebar_cmd_alert {
    z-index: 8;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 50px;
}


@media (max-width: 575px) {
    .sidebar_lhs {
        left: 10px;
    }
    .sidebar_rhs {
        right: 10px;
    }
    .sidebar_cmd_alert {
        right: 10px;
    }
    #page-content-wrapper {
        padding: 20px 60px;
    }
}

/* Sidebar buttons */

.menu_img {
    height: 40px;
    width: 40px;
    left: 50%;
    top: 50%;
    margin: 0px;
}

.menu_btn {
    cursor: pointer;
    display: inherit;
}

.btn_menu_lhs {
    background: #fff;
    float: left;
    margin: 10px 0px;
    width: 40px;
    height: 40px;
    padding: 0;
    vertical-align:middle;
    text-align:center;
}

.btn_menu_rhs {
    float: right;
    margin-top: 20px;
    display: inherit;
}

/* Drop down menus */

/*.dropdown-menu-left {
    position: static;
    width: auto;
}

.dropdown-menu > a:hover{
    max-height:1000px;
    -webkit-transform:perspective(400) rotate3d(0,0,0,0);
}

.dropdown-menu {
    position:absolute;
    left:0;
    top:36px;
    z-index:1;
    max-height:0;
    overflow:hidden;
    -webkit-transform:perspective(400) rotate3d(1,0,0,-90deg);
    -webkit-transform-origin:50% 0;
    -webkit-transition:350ms;
    -moz-transition:350ms;
    -o-transition:350ms;
    transition:350ms;
}*/

/* Alert (success/fail) icon */

.icon_cmd_alert {
    float: right;
    margin-bottom: 20px;
}

/* Menu dividers */

.menu_divider {
    float: left;
    background: transparent;
    width: 40px;
    height: 1px;
    margin: 10px 0px;
    border-top: 1px solid black;

/* Shadows */

.btn_shadow {
    -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    -moz-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
    box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.7);
}