.listings_row {
    display: -webkit-box;
    height:35px;
    padding-bottom:2px;
    padding-top:2px
}

.listings_parent {
    position: relative;
}

.listings_item {
    height: 33px;
    padding: 5px;
    margin: 1px;
    overflow:hidden;
    white-space: nowrap;
}

.time_line {
    background: #42A5F5;
    width: 2px;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 40;
    margin: 0;
    padding: 0;
    border: 0;
}

/* TV guide table border */

.tbl_border {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
.tbl_border_last {
    border-bottom: 1px solid #ddd;
}