.group_service_buttons {
    text-align: center;
    margin-bottom: 10px;
}

.group_service_img {
    cursor: pointer;
    height: 60;
    width: 60;
    margin: 10px 10px 10px 0px;
}

@media (max-width: 575px) {
    .group_service_img {
        height: 45;
        width: 45;
    }
}

.grp_body_show {
    display: block;
}
.grp_body_hide {
    display: none;
}


.grayscale {
  /* IE */
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  /* Chrome, Safari */
  -webkit-filter: grayscale(1);
  /* Firefox */
  filter: grayscale(1);
}